h1 {
	color: red;
}
h3 {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

	color: blue;
}
a {
	color: rgb(255, 0, 170);
	font-size: larger;
}

h2 {
	color: rgb(255, 0, 170);;
}